{% extends "base.html" %}

{% block content %}
<body id="back_1">
<i><h1 style="margin:1em 0em 1em 3em;color: blanchedalmond;">Profile</h1></i>
    <div class="row">
      <div class="col-md-7 offset-md-1">
        <div class="card" style="padding-top: 2%;padding-left: 1%;height: 110px;">
          <a class="btn btn-outline-info " href="{% url 'home'%}"  style="font-family: cursive;width: max-content;">&#8592;&nbsp;Home</a>
          <h4 style="font-family: cursive;"><center>Your Interests</center></h4>
        </div>
        <div class="dash-row">
        <table class="table">
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </table>
      </div>
      </div>
    </div>
  </body>    
{%endblock%}    
