{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Intersect{% endblock %}</title>
  <link href="{% static 'css/base.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'js/infinite.min.js' %}"></script>
</head>
<body background="{%static 'imgs/back.jpg'%}" style="background-size: 100%">
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f1e0c5">
    <a class="navbar-brand" href="{% url 'home'%}"><img src="{% static 'imgs/logo.png'%}" style="height:43px ; width: 140px;"/></a>
    
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline" style="margin-left:15%">
      <input class="form-control" type="search" placeholder="Search">
      &nbsp;&nbsp;<button class="btn btn-danger" type="submit">Search</button>
    </form>
    <ul class="navbar-nav" style="margin-left:28% ;">
      <li class="nav-item active" style="font-size: large;">
        <a class="nav-link" href="{% url 'home'%}">Home</a>
      </li>
      <li class="nav-item active" style="font-size: large;">
        <a class="nav-link" href="{% url 'contact'%}">Contact</a>
      </li>
      <li class="nav-item active" style="font-size: large;">
        {% if request.user.is_authenticated %}
          <a class="nav-link" href="{% url 'profile'%}">Profile</a>
        {% else %}
          <a class="nav-link" href="{% url 'logiN'%}">Profile</a>
        {% endif %}  
      </li>
      &nbsp;
      <li class="nav-item active">
          <a class="nav-link btn-info" style="color: white;" href="{% url 'signup'%}">Signup</a>
      </li>
      &nbsp;
      <li class="nav-item active">
        {% if request.user.is_authenticated %}
          <a class="nav-link btn-danger" style="color: white;" href="{% url 'logout'%}">Sign out</a>
        {% else %}
          <a class="nav-link btn-success" style="color: white;" href="{% url 'logiN'%}">Sign in</a>
        {% endif %}
      </li>
    </ul>
  </div>
</nav>
    <div id="content">    
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
