{% extends "base.html" %}
{%block content%}
<body>
    <div style="height: 600px">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <p style="margin-top:5em;margin-left:11em;font-size: 40px;font-weight: bolder;">Intersect Your Lives</p>
                </div>
            </div>
        </div>
    </div>
    <div style="background-image:repeating-linear-gradient(to left, rgb(136, 135, 135),rgb(252, 234, 174));height: 400px;">
    <div class="container">
        <div class="row">
             <div class="col-md-3 card" style="margin-top: 4%;margin-left: 55em; background-color:black">
                <div class="titl" style=" color: rgb(255, 248, 220);">Intersect</div>
             </div>
        </div>
        <div class="row">     
             <div class="col-md-3 card" style="margin-left: 4em;margin-left: 55em;background-color:rgb(255, 248, 220)" >
                <p></p>
                <p>In popular culture, the Intersect is a situation in which one member of a friendship wishes to enter into a romantic or sexual relationship, while the other does not. The sense of zone is one of being stuck in an unwanted and distant relationship.</p>
             </div>
        </div>
    </div>
    </div>
</body>
{%endblock%}